# test 파일은 원칙적으로 추적하지 않습니다. 원격 저장소에 저장하지도 않습니다.
test_*

# yolo3.weights 는 파일이 너무 커서 원격 저장소에 저장할 수 없습니다. 따라서 추적하지 않습니다.
yolov3.weights

#.idea는 IDE에 대한 정보들을 저장하고 있습니다. 따라서 추적하지 않습니다.
/.idea

# 인터프리터로 python파일을 실행시킬때 생성된 cache를 저장하는 __pycache__ 디렉토리는 추적하지 않습니다.
/__pycache__

# output#.jpg 파일은 추적하지 않습니다.
output*.jpg